*.png
*.mp3
*.mp4
*.gif
*.ogv
*.mkv
*.xcf

# The Boys S02E08 What I Know 1080p BluRay R10Bit DDP5 1 HEVC-d3g[EZTVx.to].mkv


# https://sprites-inc.com/files/ZX/ZXA/Boss/8Boss/mmzxa_Condorrock.png

!assets/ZX

!assets/big_challenges
!big_challenges/*
# !big_challenges
# !big_challenges/big_challenges_1.png