




# https://www.spriters-resource.com/snes/tetrisattack/asset/12264/
!SNES - Tetris Attack - Playable Characters - Partners (Part 1).png




# https://www.spriters-resource.com/snes/tetrisattack/asset/12256/
!SNES - Tetris Attack - Playable Characters - Yoshi.png